<a href="https://colab.research.google.com/github/samyabrata-maji/learn-ml/blob/main/learning-libraries/Learning_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
''' Data Frame:
A DataFrame is a table. It contains an array of 
individual entries, each of which has a certain value. 
Each entry corresponds to a row (or record) and a column.'''

# col: 'yes' 'no'
# row: 0, 1 (default)
df1 = pd.DataFrame({
    'yes' : [1,0],
    'no' : [2,0]
}) 

# col: 1, 2, 3 (default)
# row: 0, 1 (default)
df2 = pd.DataFrame([["hello",2,5], ["world",3,4]])

# display(df1)
# display(df2)

In [38]:
# Displays all methods available under Pandas module
pd.DataFrame({
    'col1': dir(pd)[:34],
    'col2': dir(pd)[34:68],
    'col3': dir(pd)[68:102],
    'col4': dir(pd)[102:136]
    })

,col1,col2,col3,col4
0,BooleanDtype,Series,api,pivot
1,Categorical,SparseDtype,array,pivot_table
2,CategoricalDtype,StringDtype,arrays,plotting
3,CategoricalIndex,Timedelta,bdate_range,qcut
4,DataFrame,TimedeltaIndex,compat,read_clipboard
5,DateOffset,Timestamp,concat,read_csv
6,DatetimeIndex,UInt16Dtype,core,read_excel
7,DatetimeTZDtype,UInt32Dtype,crosstab,read_feather
8,ExcelFile,UInt64Dtype,cut,read_fwf
9,ExcelWriter,UInt64Index,date_range,read_gbq
10,Flags,UInt8Dtype,describe_option,read_hdf
11,Float32Dtype,__builtins__,errors,read_html
12,Float64Dtype,__cached__,eval,read_json
13,Float64Index,__doc__,factorize,read_orc
14,Grouper,__docformat__,get_dummies,read_parquet
15,HDFStore,__file__,get_option,read_pickle
16,Index,__getattr__,infer_freq,read_sas
17,IndexSlice,__git_version__,interval_range,read_spss
18,Int16Dtype,__loader__,io,read_sql
19,Int32Dtype,__name__,isna,read_sql_query
20,Int64Dtype,__package__,isnull,read_sql_table
21,Int64Index,__path__,json_normalize,read_stata
22,Int8Dtype,__spec__,lreshape,read_table
23,Interval,__version__,melt,read_xml
24,IntervalDtype,_config,merge,reset_option
25,IntervalIndex,_hashtable,merge_asof,set_eng_float_format
26,MultiIndex,_is_numpy_dev,merge_ordered,set_option
27,NA,_lib,notna,show_versions
28,NaT,_libs,notnull,test
29,NamedAgg,_np_version_under1p18,offsets,testing
30,Period,_testing,option_context,timedelta_range
31,PeriodDtype,_tslib,options,to_datetime
32,PeriodIndex,_typing,pandas,to_numeric
33,RangeIndex,_version,period_range,to_pickle