In [4]:
import pandas as pd

In [5]:
''' Data Frame:
A DataFrame is a table. It contains an array of 
individual entries, each of which has a certain value. 
Each entry corresponds to a row (or record) and a column.'''

# Creating DataFrames:
# col: 'yes' 'no'
# row: 0, 1 (default)
df1 = pd.DataFrame({
    'yes' : [1,0],
    'no' : [2,0]
}) 

# to assign row lables use index
df2 = pd.DataFrame({
    'one' : [1,0],
    'two' : [2,0]
}, index=['val', 'no-val']) 


# display(df1)
display(df2)

        one  two
val       1    2
no-val    0    0

In [6]:
# Another way of creating Data Frames
# col: 1, 2, 3 (default)
# row: 'hello', 'world' (default)
pd.DataFrame([["one",2,5], ["two",3,4]], index=['hello', 'world'])

         0  1  2
hello  one  2  5
world  two  3  4

In [7]:
# Displays all methods available under Pandas module
pd_modules = dir(pd)
for i in range(20-(len(pd_modules)-140)):
  pd_modules.append('-')

pd.DataFrame({
    'col1': pd_modules[:20],
    'col2': pd_modules[20:40],
    'col3': pd_modules[40:60],
    'col4': pd_modules[60:80],
    'col5': pd_modules[80:100],
    'col6': pd_modules[100:120],
    'col7': pd_modules[120:140],
    'col8': pd_modules[140:160],
    })

,col1,col2,col3,col4,col5,col6,col7,col8
0,ArrowDtype,Int32Dtype,Timestamp,__spec__,errors,option_context,read_sas,unique
1,BooleanDtype,Int64Dtype,UInt16Dtype,__version__,eval,options,read_spss,util
2,Categorical,Int64Index,UInt32Dtype,_config,factorize,pandas,read_sql,value_counts
3,CategoricalDtype,Int8Dtype,UInt64Dtype,_is_numpy_dev,from_dummies,period_range,read_sql_query,wide_to_long
4,CategoricalIndex,Interval,UInt64Index,_libs,get_dummies,pivot,read_sql_table,-
5,DataFrame,IntervalDtype,UInt8Dtype,_testing,get_option,pivot_table,read_stata,-
6,DateOffset,IntervalIndex,__all__,_typing,infer_freq,plotting,read_table,-
7,DatetimeIndex,MultiIndex,__builtins__,_version,interval_range,qcut,read_xml,-
8,DatetimeTZDtype,NA,__cached__,annotations,io,read_clipboard,reset_option,-
9,ExcelFile,NaT,__deprecated_num_index_names,api,isna,read_csv,set_eng_float_format,-
10,ExcelWriter,NamedAgg,__dir__,array,isnull,read_excel,set_option,-
11,Flags,Period,__doc__,arrays,json_normalize,read_feather,show_versions,-
12,Float32Dtype,PeriodDtype,__docformat__,bdate_range,lreshape,read_fwf,test,-
13,Float64Dtype,PeriodIndex,__file__,compat,melt,read_gbq,testing,-
14,Float64Index,RangeIndex,__getattr__,concat,merge,read_hdf,timedelta_range,-
15,Grouper,Series,__git_version__,core,merge_asof,read_html,to_datetime,-
16,HDFStore,SparseDtype,__loader__,crosstab,merge_ordered,read_json,to_numeric,-
17,Index,StringDtype,__name__,cut,notna,read_orc,to_pickle,-
18,IndexSlice,Timedelta,__package__,date_range,notnull,read_parquet,to_timedelta,-
19,Int16Dtype,TimedeltaIndex,__path__,describe_option,offsets,read_pickle,tseries,-