<a href="https://colab.research.google.com/github/samyabrata-maji/learn-ml/blob/main/learning-libraries/Learning_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
''' Data Frame:
A DataFrame is a table. It contains an array of 
individual entries, each of which has a certain value. 
Each entry corresponds to a row (or record) and a column.'''

# col: 'yes' 'no'
# row: 0, 1 (default)
df1 = pd.DataFrame({
    'yes' : [1,0],
    'no' : [2,0]
}) 

# col: 1, 2, 3 (default)
# row: 0, 1 (default)
df2 = pd.DataFrame([["hello",2,5], ["world",3,4]])

# display(df1)
# display(df2)

In [ ]:
# Displays all methods available under Pandas module
pd.DataFrame({
    'col1': dir(pd)[:34],
    'col2': dir(pd)[34:68],
    'col3': dir(pd)[68:102],
    'col4': dir(pd)[102:136],
    'col2': dir(pd)[136:142].append([]*28),
    })

                col1  col2             col3                  col4
0       BooleanDtype  None              api                 pivot
1        Categorical  None            array           pivot_table
2   CategoricalDtype  None           arrays              plotting
3   CategoricalIndex  None      bdate_range                  qcut
4          DataFrame  None           compat        read_clipboard
5         DateOffset  None           concat              read_csv
6      DatetimeIndex  None             core            read_excel
7    DatetimeTZDtype  None         crosstab          read_feather
8          ExcelFile  None              cut              read_fwf
9        ExcelWriter  None       date_range              read_gbq
10             Flags  None  describe_option              read_hdf
11      Float32Dtype  None           errors             read_html
12      Float64Dtype  None             eval             read_json
13      Float64Index  None        factorize              read_orc
14           Grouper  None      get_dummies          read_parquet
15          HDFStore  None       get_option           read_pickle
16             Index  None       infer_freq              read_sas
17        IndexSlice  None   interval_range             read_spss
18        Int16Dtype  None               io              read_sql
19        Int32Dtype  None             isna        read_sql_query
20        Int64Dtype  None           isnull        read_sql_table
21        Int64Index  None   json_normalize            read_stata
22         Int8Dtype  None         lreshape            read_table
23          Interval  None             melt              read_xml
24     IntervalDtype  None            merge          reset_option
25     IntervalIndex  None       merge_asof  set_eng_float_format
26        MultiIndex  None    merge_ordered            set_option
27                NA  None            notna         show_versions
28               NaT  None          notnull                  test
29          NamedAgg  None          offsets               testing
30            Period  None   option_context       timedelta_range
31       PeriodDtype  None          options           to_datetime
32       PeriodIndex  None           pandas            to_numeric
33        RangeIndex  None     period_range             to_pickle