In [2]:
import pandas as pd

In [6]:
# Displays all methods available under Pandas module
pd_modules = dir(pd)
for i in range(20-(len(pd_modules)-140)):
    pd_modules.append('-')

df_pd_modules = pd.DataFrame({
    'col1': pd_modules[:20],
    'col2': pd_modules[20:40],
    'col3': pd_modules[40:60],
    'col4': pd_modules[60:80],
    'col5': pd_modules[80:100],
    'col6': pd_modules[100:120],
    'col7': pd_modules[120:140],
    'col8': pd_modules[140:160],
})

# print(df_pd_modules.shape)
display(df_pd_modules.head())  # displays first five rows
# display(df_pd_modules) # displays the full dataset

,col1,col2,col3,col4,col5,col6,col7,col8
0,ArrowDtype,Int32Dtype,Timestamp,__spec__,errors,option_context,read_sas,unique
1,BooleanDtype,Int64Dtype,UInt16Dtype,__version__,eval,options,read_spss,util
2,Categorical,Int64Index,UInt32Dtype,_config,factorize,pandas,read_sql,value_counts
3,CategoricalDtype,Int8Dtype,UInt64Dtype,_is_numpy_dev,from_dummies,period_range,read_sql_query,wide_to_long
4,CategoricalIndex,Interval,UInt64Index,_libs,get_dummies,pivot,read_sql_table,-

In [9]:
''' Data Frame:
A DataFrame is a table. It contains an array of 
individual entries, each of which has a certain value. 
Each entry corresponds to a row (or record) and a column.'''

# Creating DataFrames:
# col: 'yes' 'no'
# row: 0, 1 (default)
df1 = pd.DataFrame({
    'yes' : [1,0],
    'no' : [2,0]
}) 

# to assign row lables use index
df2 = pd.DataFrame({
    'one' : [1,0],
    'two' : [2,0]
}, index=['val', 'no-val']) 

# display(df1)
# display(df2)

# Another way of creating Data Frames
# col: 1, 2, 3 (default)
# row: 'hello', 'world' (default)
pd.DataFrame([["one",2,5], ["two",3,4]], index=['hello', 'world'])

         0  1  2
hello  one  2  5
world  two  3  4

In [8]:
# Creating Series:
''' Series is a List of values. Its like a single col of a DataFrame '''
pd.Series([1,2,3,4])

# 'index' sets row names
pd.Series(["one", "two", "three"], index=['row1', 'row2', 'row3'], name="Pandas Series")

row1      one
row2      two
row3    three
Name: Pandas Series, dtype: object